<script type='text/x-handlebars-template' id='dropdown_item'>
    <div class='row'>
        <div class='col-xs-12'>

                <a  target='_blank' class="bulk-list" href='{{item_url}}'>
                    <i class='fa fa-archive'></i> {{item_text}} <span class='badge' style='float: right;'>{{item_size}}</span>
                </a>

        </div>
    </div>
</script>


